{% extends "bootstrap/base.html" %}

{% block title %}KAGYI | INVOICE {% endblock %}


{% block scripts %}
{% endblock %}

{% block styles %}
<style>
{% include "invoice.css" %}
</style>
{% endblock %}

{% block content %}
  <div class="container" style="max-width: 780px; margin: 50px;">
    <div class="row">
      <div class="col-xs-4">
	<img src="{{ url_for('.static', filename='img/longlogo.png')}}" height="70">
      </div>

      <div class="col-xs-5 col-xs-offset-3">
	<ul class="fa-ul">

	  <li><i class="fa-li fa fa-phone-square" ></i>
	    <p class="text-left">
	      (01) 555 602, (09) 4200-900-60
	    </p>
	  </li>

	  <li><i class="fa-li fa fa-building-o"></i>
	    <p class="text-left">
	      No (23), West Horse Race Course Rd<br/>
	      Bahan Tsp, Yangon
	    </p>
	  </li>
	</ul>
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 text-left">
	<p>
	  <big>
	    Received <strong><span style="border-bottom: 1px dotted #000;"> {{ submission.course_fees.data }}</span></strong> Kyat
	    on behalf of Ko / Ma <strong><span class="text-uppercase" style="border-bottom: 1px dotted #000;">{{ submission.student_name.data }}</span></strong>
	    as payment fees for the course <strong><span class="text-uppercase" style="border-bottom: 1px dotted #000;">{{ submission.course.title }}</span></strong>.
	  </big>
	</p>

	<hr/>
	<div class="col-xs-4">
	  <h4><strong><u>Student Details</strong></u></h4>
	</div>

	<div class="col-xs-8">
	  <p><i style="margin-right: 10px;" class="fa fa-user"></i> <span class="text-uppercase">{{ submission.student_name.data }}</span> </p>
	  <p><i style="margin-right: 10px;" class="fa fa-envelope"></i> {{ submission.student_email.data }}</p>
	  <p><i style="margin-right: 10px;" class="fa fa-lg fa-mobile"></i> {{ submission.student_phone.data }}</p>
	  <p><i style="margin-right: 10px;" class="fa fa-building-o"></i> <span class="text-uppercase">{{ submission.student_address.data }}</span></p>
	</div>

      </div>

    </div>
    <hr style="margin-bottom: 0px;"/>
    <div class="col-xs-8 col-xs-offset-1">
    <small>Enrolled by <span class="text-uppercase" style="border-bottom: 1px dotted #000;">{{ submission.trainer_email.data }}</span></small>
    </div>
  </div>

{% endblock %}
