<div class="col-lg-12">
  <div class="page-header">
    <h2>Details</h2>
  </div>
</div>

<div class="col-xs-5 col-sm-2">
  <p>
    <i class="fa fa-calendar-o"></i> Duration:
  </p>
</div>
<div class="col-xs-7 col-sm-4">
  <p>
    {{ training.duration }}
  </p>
</div>

<div class="col-xs-5 col-sm-2">
  <p>
    <i class="fa fa-clock-o"></i> Time:
  </p>
</div>
<div class="col-xs-7 col-sm-4">
  <p>
    {{ training.time }}
  </p>
</div>

<div class="col-xs-5 col-sm-2">
  <p>
    <i class="fa fa-money"></i> Price:
  </p>
</div>
<div class="col-xs-7 col-sm-4">
  <p>
    {{ training.price | safe}}
  </p>
</div>

<div class="col-xs-5 col-sm-2">
  <p>
    <i class="fa fa-sellsy"></i> Discount:
  </p>
</div>
<div class="col-xs-7 col-sm-4">
  <p>
    {{ training.discount }}
  </p>
</div>

<div class="col-xs-5 col-sm-2">
  <p>
    <i class="fa fa-sellsy"></i> Next Class:
  </p>
</div>
<div class="col-xs-7 col-sm-10">
  <p>
    {{ training.next_class }}
  </p>
  <p>
  <mark class="text-danger">{{ training.note }}</marks>
</p>
</div>
