<!-- Header Carousel -->
<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron hero-spacer">
      <h1 class="text-center">Minglarpar!</h1>
      <p>Kagyi is a boutique software training house in the golden city of Yangon. We offer high-quality hands-on training courses for advanced and state-of-the-art software development tools, frameworks and practices. </p>

      <p>Our mission is to contribute to the growth of Myanmar's software sector by introducing modern software development technologies and methodologies to the local workforce.</p>
    </div>
  </div>
</div>
