
<!-- Marketing Icons Section -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Services
    </h1>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-university"></i> Training Courses</h4>
      </div>
      <div class="panel-body">
        <p>We provide <b>hands-on</b> training courses on latest software development tools and frameworks for students and aspiring developers.</p>
	<p>All of courses are taught by trainers with several years of <b>experience</b> in relevant training areas.</p>
        <a href="#" class="btn btn-default btn-bottom" style="pointer-events: none;">Learn More</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-building"></i>Bootcamps / Workshops</h4>
      </div>
      <div class="panel-body">
	<p>We also offer half-day workshops and multi-day bootcamps to quickly introduce the <b>latest</b> industry practices and frameworks.</p>
	<p>Bootcamps and workshops are fast-paced and  aimed to help working professionals in <b>advancing careers.</b></p>
      </div>
      <a href="#" class="btn btn-default btn-bottom" style="pointer-events: none;">Learn More</a>
    </div>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-desktop"></i> Corporate Training</h4>
      </div>
      <div class="panel-body">
        <p>We aslo deliver <b>high-quality</b> on-site software training programs for tech companies to boost their internal capacity and productivity.</p>
	<p>The trainings can be <b>customized</b> to suit the needs of individual organization and participants.
	</p>
        <a href="#" class="btn btn-bottom btn-default" style="pointer-events: none;">Learn More</a>
      </div>
    </div>
  </div>


</div>
<!-- /.row -->
