
<!-- Marketing Icons Section -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Services
    </h1>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-university"></i> Training Programs</h4>
      </div>
      <div class="panel-body">
        <p>We offer hands-on training courses for students and working professionals, needed for career advancement opportunities as a software developer.</p>

	<p>All of our trainers have several years of experience in relevant training areas.
	</p>
        <a href="#" class="btn btn-default btn-bottom">Learn More</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-desktop"></i> Corporate Training</h4>
      </div>
      <div class="panel-body">
        <p>We provide custom-tailored software training programs for local tech companies to improve their internal capacity and productivity.</p>
	<p>We also offer short workshops & bootcamps to introduce the workforce to latest industry practices and frameworks.</p>
        <a href="#" class="btn btn-bottom btn-default">Learn More</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-building"></i> HR & Recruitment</h4>
      </div>
      <div class="panel-body">
	<p>
	  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
	</p>
        <a href="#" class="btn btn-default btn-bottom">Learn More</a>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->
